<section class="pl-6 pr-6 h-full w-full">
  <table class="table mt-3">
    <thead class="table-head">
      <tr tabindex="0" class="table-row-head ">
        <th class="table-head-title w-3/12">Dish</th>
        <th class="table-head-title  w-2/12">Name</th>
        <th class="table-head-title  w-4/12">Description</th>
        <th class="table-head-title  w-2/12">Price</th>
        <th class="table-head-title  w-1/12">Actions</th>
      </tr>
    </thead>

    <tbody class="table-body">

      <tr class="table-body-row">
        <td class="table-body-data w-3/12">
          <img class="rounded-tl-md rounded-tr-md shadow-md"
               src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
               alt="salmon bowl" />
        </td>
        <td class="table-body-data w-2/12 format-data">
          combination salmon bowl
        </td>
        <td class="table-body-data w-4/12">
          Sushi bowl with salmon, lettuce, pea pods, tomato, eggs, corn and cucumbers over a special sauce
        </td>
        <td class="table-body-data w-2/12">
          18.99
        </td>
        <td class="table-body-data w-1/12 ">
          <button class="btn-delete">
            Remove Item
          </button>
        </td>
      </tr>

      <tr class="table-body-row">
        <td class="table-body-data w-3/12">
          <img class=""
               src="https://images.unsplash.com/photo-1496116218417-1a781b1c416c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YXNpYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
               alt="dumpling" />
        </td>
        <td class="table-body-data w-2/12 format-data">
          pork dumplings
        </td>
        <td class="table-body-data w-4/12">
          Steamed dumplings consisting of seasoned pork and vegetables served with a special house sauce.
        </td>
        <td class="table-body-data w-2/12">
          8.99
        </td>
        <td class="table-body-data w-1/12 ">
          <button class="btn-delete">
            Remove Item
          </button>
        </td>
      </tr>

      <tr class="table-body-row">
        <td class="table-body-data w-3/12">
          <img class=""
               src="https://images.unsplash.com/photo-1555126634-323283e090fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YXNpYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
               alt="Curry soup" />
        </td>
        <td class="table-body-data w-2/12 format-data">
          curry vermichelli soup
        </td>
        <td class="table-body-data w-4/12">
          Curry vermichelli soup with special ingredients served fresh and to order.
        </td>
        <td class="table-body-data w-2/12">
          14.99
        </td>
        <td class="table-body-data w-1/12 ">
          <button class="btn-delete">
            Remove Item
          </button>
        </td>
      </tr>

      <tr class="table-body-row">
        <td class="table-body-data w-3/12">
          <img class=""
               src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFzaWFuJTIwZm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
               alt="Terriyaki wings" />
        </td>
        <td class="table-body-data w-2/12 format-data">
          terriyaki wings
        </td>
        <td class="table-body-data w-4/12">
          Marinated Chicken wings with special a house made Terriyaki sauce drizzled with greeen onions, cilantro served
          on a bed of lettuce.
        </td>
        <td class="table-body-data w-2/12">
          9.99
        </td>
        <td class="table-body-data w-1/12 ">
          <button class="btn-delete">
            Remove Item
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- </div> -->
  <!-- Desktop Responsive End -->

  <!-- Mobile Responsive Start -->
  <div class="flex justify-center items-center">
    <div class="sm:hidden flex flex-col justify-start items-start">
      <div class="px-4 lg:px-10 2xl:px-20 flex flex-row justify-start items-end space-x-4">
        <p class="text-4xl font-semibold leading-9 text-gray-800 dark:text-white">Favourites</p>
        <p class="text-base leading-4 text-gray-600 pb-1">(12 Items)</p>
      </div>
      <div class="border-gray-200 border-b pb-10">
        <div class="px-4 flex flex-col jusitfy-center items-start mt-10">
          <div>
            <img src="https://i.ibb.co/bHgJDpd/imani-bahati-Lx-Vx-PA1-LOVM-unsplash-2.png" alt="shoe" />
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <p class="w-36 text-base leading-6 text-gray-800 dark:text-white">Jet black sportsmen shoes</p>
          </div>
          <div>
            <p class="text-base font-semibold leading-4 text-gray-800 dark:text-white">$90</p>
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <a href="javascript:void(0)"
               class="hover:underline text-base font-medium leading-none focus:outline-none focus:underline text-gray-800 dark:text-white">
              View details</a>
          </div>
          <div>
            <button
                    class="focus:outline-none focus:ring-red-800 focus:ring-offset-2 focus:ring-2 text-base leading-none text-red-600 hover:text-red-800">
              <p>Remove Item</p>
            </button>
          </div>
        </div>
      </div>
      <div class="border-gray-200 border-b pb-10">
        <div class="px-4 flex flex-col jusitfy-center items-start mt-10">
          <div>
            <img src="https://i.ibb.co/6y62DnT/daniel-storek-JM-q-KEd1-GMI-unsplash-1-1.png" alt="shoes" />
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <p class="w-36 text-base leading-6 text-gray-800 dark:text-white">Jet black sportsmen shoes</p>
          </div>
          <div>
            <p class="text-base font-semibold leading-4 text-gray-800 dark:text-white">$90</p>
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <a href="javascript:void(0)"
               class="hover:underline text-base font-medium leading-none focus:outline-none focus:underline text-gray-800 dark:text-white">
              View details</a>
          </div>
          <div>
            <button
                    class="focus:outline-none focus:ring-red-800 focus:ring-offset-2 focus:ring-2 text-base leading-none text-red-600 hover:text-red-800">
              <p>Remove Item</p>
            </button>
          </div>
        </div>
      </div>

      <div class="border-gray-200 border-b pb-10">
        <div class="px-4 flex flex-col jusitfy-center items-start mt-10">
          <div>
            <img src="https://i.ibb.co/LR5LyDw/charles-deluvio-1-nx1-QR5d-TE-unsplash-1-1.png" alt="glasses" />
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <p class="w-36 text-base leading-6 text-gray-800 dark:text-white">Jet black sportsmen shoes</p>
          </div>
          <div>
            <p class="text-base font-semibold leading-4 text-gray-800 dark:text-white">$90</p>
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <a href="javascript:void(0)"
               class="hover:underline text-base font-medium leading-none focus:outline-none focus:underline text-gray-800 dark:text-white">
              View details</a>
          </div>
          <div>
            <button
                    class="focus:outline-none focus:ring-red-800 focus:ring-offset-2 focus:ring-2 text-base leading-none text-red-600 hover:text-red-800">
              <p>Remove Item</p>
            </button>
          </div>
        </div>
      </div>

      <div class="border-gray-200 border-b pb-10">
        <div class="px-4 flex flex-col jusitfy-center items-start mt-10">
          <div>
            <img src="https://i.ibb.co/XzvpLZz/rocknwool-8-Lsy75-Lq-GVc-unsplash-1-4.png" alt="girl" />
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <p class="w-36 text-base leading-6 text-gray-800 dark:text-white">Jet black sportsmen shoes</p>
          </div>
          <div>
            <p class="text-base font-semibold leading-4 text-gray-800 dark:text-white">$90</p>
          </div>
        </div>
        <div class="px-4 mt-6 flex justify-between w-full flex jusitfy-center items-center">
          <div>
            <a href="javascript:void(0)"
               class="hover:underline text-base font-medium leading-none focus:outline-none focus:underline text-gray-800 dark:text-white">
              View details</a>
          </div>
          <div>
            <button
                    class="focus:outline-none focus:ring-red-800 focus:ring-offset-2 focus:ring-2 text-base leading-none text-red-600 hover:text-red-800">
              <p>Remove Item</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>