<section class="topbar-wrap">
  <app-top-bar class="topbar-content-wrap" role="banner"></app-top-bar>
</section>

<!-- implment and use ng-content to project the elements somehow with the selector attribute -->

<ng-template #hiddenMenu></ng-template>

<input type="button" [ngClass]="{
    'min-sidebar-btn': !isActive,
    'extend-sidebar-btn': isActive } "
       *ngIf="isLoggedOut, else hiddenMenu"
       (click)="showMenu()" />

<app-side-bar [ngClass]="{
    'hide-sidebar': !isActive, 
    'extend-sidebar': isActive}"
              (logoutEmitter)="logOut($event)"></app-side-bar>

<section [ngClass]="{
    'content-full': !isActive,
    'content-reduce': isActive}">

  <router-outlet></router-outlet>
</section>