<form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
  <p class="text-red-400 py-1">{{message}}</p>
  <app-input class="input-wrap" [control]="userName" placeholder="Email / Username"></app-input>
  <app-input class="input-wrap" [control]="firstName" placeholder="First Name"></app-input>
  <app-input class="input-wrap" [control]="lastName" placeholder="Last Name"></app-input>
  <app-input class="input-wrap" [control]="password" placeholder="Password"></app-input>
  <app-input class="input-wrap" [control]="confirmPassword" placeholder="ConfirmPassword"></app-input>
  <button class="btn btn-effect" [disabled]="registerForm.invalid">Submit</button>
</form>