<form [ngClass]="{'form': !isHidden, 'hide': isHidden}"
      [formGroup]="loginForm"
      (ngSubmit)="login()">

        <p class="text-red-400 py-1">{{message}}</p>
        <app-input class="input-wrap" [control]="userName" placeholder="Email / Username"></app-input>
        <app-input class="input-wrap" [control]="password" placeholder="Password"></app-input>

        <!-- <pre>{{loginForm.value | json }}</pre> -->

        <button [ngClass]="loginForm.invalid ? 'btn-default' : 'btn-default btn-effect'"
                [disabled]="loginForm.invalid">Login</button>

        <a class="forgot" (click)="show()">Forgot password</a>
</form>

<form [ngClass]="{'form': isHidden, 'hide': !isHidden}"
      [formGroup]="forgotForm"
      (ngSubmit)="forgot()">

        <p class="text-red-400 py-1">{{message}}</p>
        <app-input class="input-wrap" [control]="userName" placeholder="Email / UserName"></app-input>

        <button [ngClass]="forgotForm.invalid ? 'btn-default' : 'btn-default btn-effect'"
                [disabled]="forgotForm.invalid">Reset</button>

        <a class="forgot" (click)="show()">Go back to login</a>

</form>