<input [formControl]="control"
       [type]="type"
       class="input input-effect"
       [placeholder]="placeholder"
       [mask]="format"
       [dropSpecialCharacters]="false" />



<ng-container *ngIf="control.touched && control.dirty">
  <p class="text-red-400 py-1" *ngIf="control.errors?.['pattern']">
    Passwords must be at least 8 characters long, have 1
    uppercase letter, 1 lowercase letter, 1 number and a special character.
  </p>
  <p *ngIf="control.errors?.['required']"
     class="text-red-400  py-1">
    Field is required
  </p>
  <p *ngIf="control.errors?.['minlength']"
     class="text-red-400  py-1">
    The value you inputted is
    {{ control.errors?.['minlength'].actualLength }}
    characters long.
    It must be at least
    {{ control.errors?.['minlength'].requiredLength }}
    characters long.
  </p>
  <p *ngIf="control.errors?.['email']" class="text-red-400  py-1">
    You must enter a valid email. e.g. yourname@gmail.com
  </p>
  <p *ngIf="control.errors?.['min']" class="text-red-400 py-1">
    Value too low.
  </p>
  <p *ngIf="control.errors?.['max']" class="text-red-400 py-1">
    Value too high.
  </p>
  <p *ngIf="control.errors?.['noMatch']" class="text-red-400 py-1">
    Passwords do not match.
  </p>
  <p *ngIf="control.errors?.['emailTaken']" class="text-red-400 py-1">
    Email taken. Please try another email.
  </p>
</ng-container>